@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header-logo-menu{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:0px 10px 30px 0px rgba(0,0,0,0.56)
}
.image-logo{
    width: 80%;
    cursor: pointer;
}
.box-menu{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegation{
    width: 35vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.item-nav{
    font-size: 1vw;
    font-weight: bold;
}
.box-contact{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-call{
    width: 15%;
}
.paragraph-call{
    font-size: 1.2vw;
}
.header-box-title{
    height: 150vh;
    background-image: url("./assets/Banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.box-title{
    width: 60vw;
    height: 70vh;
    display: flex;
    align-items: flex-end;
}
.subbox-title{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    color: #6D4545;
    margin-left: 65px;
}
.title-header{
    font-size: 4vw;
}
.subtitle-header{
    font-size: 2.9vw;
    font-weight: 400;
}
.paragraph-header{
    font-size: 1.2vw;
    width: 58%;
}
.btn-header{
    width: 12vw;
    height: 8vh;
    background-color: #FEAF02;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    color: white;
}


.section-card-dog{
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-central{
    width: 80%;
    min-height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card-dog{
    min-width: 20%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box-image-card{
    width: 70%;
}
.img-dog{
    width: 100%;
    height: 100%;
}
.box-option{
    width: 60%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.option{
    font-size: 1.3vw;
}
.btn-option{
    width: 8vw;
    height: 6vh;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 1.1vw;
    font-weight: 800;
    background-color: #FEAF02;
    cursor: pointer;
}

.section-background{
    background-image: url(./assets/Banner\ why.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 80vh;
    display: flex;
    align-items: center;
}
.box-content-background{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.box-text-background{
    width: 85%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title-background{
    font-size: 1.9vw;
}
.paragraph-background{
    width: 60%;
    font-size: 1.3vw;
}
.box-list{
    width: 82%;
}
.box-list li{
    font-size: 1.3vw;
}

.section-video{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEAF02;
}
.box-center-video{
    width: 80%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title-section-video{
    font-size: 2.2vw;
    color: white;
}
.text-video{

}
.box-card-video{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card-video{
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.box-play{
    position: relative;
}
.video{
    width: 28vw;
}
.player-video{
    position: absolute;
    top: 40%;
    left: 45%;
    width: 4vw;
}   
.description-video{

}

.container-footer{
    
}
.section-info-color{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C4049;
}
.container-footer-info{
    width: 75%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.box-info{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.title-footer{
    font-size: 1.5vw;
}
.box-footer-content{
    width: 18vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.box-footer-list{
    width: 10vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
}
.section-copy{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #2E2F34;
}
.box-copy{
    width: 86%;
    display: flex;
    color: white;
}
.section-layout{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222326;
    color: #707070;
    font-size: 1vw;
}